body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
#navbar {
    font-weight: 300;
    color: white;
}

.navbar-dark {
    background-color: rgba(0, 0, 0, .1) !important;
    transition: all 1s ease-in-out;
}

.bg-new {
    background-color: #21C7E1 !important;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, .1);
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2em;
    font-weight: 400;
}

#navbar img {
    width: 2em;
}

#navbar h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

/* Main */
main {
    background-color: black;
    color: white;
}

/* Quienes somos */
#quienes-somos {
    color: white;

}

#quienes-somos h2 {
    margin: 0;
    font-size: 2.8em;
    font-weight: 400;
}

#quienes-somos hr {
    color: #21C7E1;
    height: 2px;
    background-color: #21C7E1;
}

#quienes-somos p {
    font-size: 1em;
    font-weight: 300;
}

#quienes-somos .tag-p {
    background-color: #21C7E1;
}

@media screen and (max-width:957px) {
    #quienes-somos h2 {
        font-size: 2em;
    }

    #quienes-somos .tag-p:nth-of-type(1) {
        margin-bottom: 40px;
    }
}

/* Destacados */
#destacados {
    color: white;
}

#destacados h2 {
    margin: 0;
    font-size: 2.8em;
    font-weight: 400;
}

#destacados hr {
    color: #21C7E1;
    height: 2px;
    background-color: #21C7E1;
}

#destacados p {
    font-size: 1em;
    font-weight: 300;
}

#destacados h4 {
    cursor: pointer;
}

#destacados .card-body {
    background-color: #21C7E1;
    border: 1 solid #21C7E1;
}

@media screen and (max-width:957px) {
    #destacados h2 {
        font-size: 2em;
    }
}

/* Contacto */
#contacto {
    color: white;
}

#contacto h2 {
    margin: 0;
    font-size: 2.8em;
    font-weight: 400;
}

#contacto hr {
    color: #21C7E1;
    height: 2px;
    background-color: #21C7E1;
}

@media screen and (max-width:957px) {
    #contacto h2 {
        font-size: 2em;
    }
}

/* Footer */
#footer {
    background-color: #21C7E1;
    color: white;
}

#footer h3 {
    margin: 0;
}

#footer a {
    text-decoration: none;
}

#footer i {
    color: white;
}